.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}

.buttons {
  flex: 1;
  width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.main-container {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.main-container > * {
  margin: auto;
}

.header > * {
  margin: 5px;
}

.logo {
  flex: 1;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-style: italic;
  font-size: 25px;
}

.logo > * {
  height: 40px;
  margin-right: 10px;
}

.picker-container {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1;
}

.picker {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  width: 100%;
  min-width: 70px;
}

.photo-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(500px, 100%), 1fr));
  margin: 20px;
  gap: 20px
}