.header {
  display: flex;
  font-weight: bold;
  font-style: italic;
  font-size: 25px;
  height: 40px;
  align-items: center;
  padding: 10px 20px 10px 20px;
}

.header > * {
  margin-right: 15px;
}

.logo {
  height: inherit;
}
